body{
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(63, 119, 119);
}
span{
    color: red;
}
.main{
    position: absolute;
    top: 45%;
left: 50%;
transform: translate(-50%, -50%);
padding: 15px;
background-color: black;
border-radius: 10px;
box-shadow: gray;
}
input{
    outline: none;
    border: none;
    padding: 5px;
}
button{
    color: white;
    background-color: black;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    display: block;
    margin-top: 10px;
    cursor: pointer;
}